<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration for tekisky</h1>
    <form action="/register" method="post"> 

    <label for="">username:</label>
    <input type="text" name="username"> <br> <br>

    <label for="">mobile number:</label>
    <input type="text" name="mobilenumber"> <br> <br>

    <label for="">Email:</label>
    <input type="email" name="email"> <br> <br>

    <label for="">Create Password:</label>
    <input type="password" name="password"> <br> <br>

    <label for="">Confirm Password:</label>
    <input type="password" name="confirmpassword"> <br> <br>

    <button type="submit">Register</button>

    </form>
</body>
</html>